<app-search (searchEvent)="searchForCharacter($event)"></app-search>

@if (characters$ | async; as characters) {
  <div class="characters-wrapper" scrollTrackerDirective (scrollingFinished)="listMoreItems()">

    @if(characters.data.results.length <= 0) {
      <div class="empty-result">
        No data found for search
      </div>
    }

    @for (character of characters.data.results; track $index) {
      <app-list-item-card
        [title]="character.name"
        [description]="character.description"
        [imgSrc]="character.thumbnail.path + '.' + character.thumbnail.extension"
        [itemId]="character.id"
        [routeUrl]="['characters/' + character.id]">
      </app-list-item-card>
    }
  </div>
} @else {
  <app-loading></app-loading>
}
