<app-search (searchEvent)="searchForCharacter($event)"></app-search>

<div class="characters-wrapper" *ngIf="(characters$ | async) as characters; else loader">
  <app-list-item-card
    *ngFor="let character of characters.data.results"
    [title]="character.name"
    [description]="character.description"
    [imgSrc]="character.thumbnail.path + '.' + character.thumbnail.extension"
    [itemId]="character.id"
    [routeUrl]="['characters/' + character.id]"
  ></app-list-item-card>
  <button (click)="listMoreItens()">Lista mais!</button>
</div>

<ng-template #loader>
  <app-loading></app-loading>
</ng-template>
