<app-search (searchEvent)="searchEventName($event)"></app-search>

@if (events$ | async; as events) {
  <div class="events-wrapper" scrollTrackerDirective (scrollingFinished)="listMoreItems()">
    @if (events.data.results.length <= 0) {
      <div class="empty-result">
        No data found for search
      </div>
    }
    @for (comic of events.data.results; track $index) {
      <app-list-item-card
        [title]="comic.title"
        [description]="comic.description"
        [imgSrc]="comic.thumbnail | defaultImageSource"
        [itemId]="comic.id"
        [routeUrl]="['events/' + comic.id]">
      </app-list-item-card>
    }
  </div>
} @else {
  <app-loading></app-loading>
}
