@if (comic$ | async; as comic) {
  <div class="comic-page-wrapper">
    <img [src]="comic.thumbnail | defaultImageSource" alt="" class="comic-image">

    <div class="comic-content">
      <h1 class="comic-title">{{comic.title}}</h1>

      @if (comic.urls.length > 0) {
        <a  class="marvel-ref" [href]="comic.urls[0].url" target="_blank">Página do quadrinho no site da Marvel</a>
      }

      <span class="comic-description" [innerHTML]="comic.description"></span>

      <div class="prices-list">
        <h3>Preço: </h3>
        @for (price of comic.prices; track $index) {
          <span>$US {{price.price}}</span>
        }
      </div>

      @if (comic.images.length > 0) {
        <div class="previews">
          <h3>Previews: </h3>
          <div class="previews-wrapper">
            @for (image of comic.images; track $index) {
              <img [src]="image | defaultImageSource" alt="Image preview">
            }
          </div>
        </div>
      }
    </div>
  </div>
}
