<app-search (searchEvent)="searchForComic($event)"></app-search>

@if (comics$ | async; as comics) {
  <div class="comics-wrapper" scrollTrackerDirective (scrollingFinished)="listMoreItems()">
    @if(comics.data.results.length <= 0) {
      <div class="empty-result"
      >
        No data found for search
      </div>
    }

    @for (comic of comics.data.results; track $index) {
      <app-list-item-card
        [title]="comic.title"
        [description]="comic.description"
        [imgSrc]="comic.thumbnail | defaultImageSource"
        [itemId]="comic.id"
        [routeUrl]="['comics/' + comic.id]"
      ></app-list-item-card>
    }
  </div>
} @else {
  <app-loading></app-loading>
}
