@use 'main' as *;
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
  font-family: "Abel", sans-serif;
  font-size: 18px;
  line-height: normal;
  font-weight: 300;
}

.main-content {
  min-height: 100vh;
  position: relative;
  padding-bottom: 48px;

  background-color: $color-background-primary;
  color: $color-font-primary;

  main {
    padding: 2rem;
    overflow: hidden;
  }
}

@media screen and (max-width: 768px) {
  .main-content main {
    padding: 1rem 1rem calc(1rem + 48px);
  }
}
